.img_edit {
    width: 200px;
    height: 200px;
    margin-left: 20px
}

#myTable {
    text-align: center;
}

#list_car {
    text-align: center;
}

.text-center {
    margin-top:10px;
}
div.text-center .btn {
    width: 150px;
    height: 38px;
}

.btn {
    width: 100px;
    height: 38px;
}
.tdTieude{
    width:20%;
}
.login-form {
    text-align: center;
}